/* Header */
.navbar {
  background-color: #004d99;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 2rem;
  background-image: url("/public/weather-bg.jpg"); /* Replace with the actual image */
  background-size: cover;
  color: white;
}

.weather-alerts {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.alert {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 8px;
  width: 150px;
}

/* Forecast Section */
.forecast {
  text-align: center;
  padding: 2rem;
}
.forecast button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #004d99;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Footer */
footer {
  text-align: center;
  background-color: #004d99;
  color: white;
  padding: 1rem;
}

.mysvg {
  fill: white !important;
}
